<div>
  <div class="col-md-8 col-md-offset-2 img-login">
    <h1 class='center'>Create your own Storyboard</h1>
    <h1>Login</h1>
    <div ng-show="error" class="alert alert-danger"></div>
    <form class="form" ng-submit="login()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
          <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
        </div>
        <div>
          <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
          <a class="btn btn-success" href='/social/github'>Login with Github</a>
          <br><br>

          <h4>If you don't have an account please register</h4>
          <a type='button' href="/#/register" class="btn btn-default" >Register</a>
        <div class='center'>
          <h3>Check out other user's stories</h3>
          <a type='button' href="/#/stories" class="btn btn-default">Get Inspired</a>
        </div>
        </div>
    </form>
    <br>
  </div>
</div>




